#title_box {
  width: 90% !important;
  text-align: left !important;
  height: 50px !important;
  position: absolute;
  top: 0px;
  right: 0px;
  background: #f9fbfe;
  border: solid 1px #d2d7dc;
  border-radius: 0.35em;
  padding-left: 17px;
}

#date_label {
  width: 40% !important;
}

.write_box li tr {
  border: 0px;
}

.write_box li td {
  padding: 0px;
  width: 49%;
}

#td1 {
  width: 30%;
}

.write_box li th {
  text-align: left;
  width: 10%;
  padding-right: 0px;
}

.write_box li td label {
  text-align: left !important;
  width: 100% !important;
  background: #f9fbfe;
  border: solid 1px #d2d7dc;
  border-radius: 0.35em;
  padding-left: 17px;
}

#content_box1 {
  width: 90% !important;
  height: 320px !important;
  position: absolute;
  top: 0px;
  right: 0px;
  background: #f9fbfe;
  border: solid 1px #d2d7dc;
  border-radius: 0.35em;
  padding-left: 17px;
  text-align: left !important;
}

@media (max-width: 600px) {
  #writeform li label {
    margin-right: 0;
    text-align: left;
    padding-left: 0;
    font-size: 13px;
  }

  #title_box {
    width: 88% !important;
  }

  .write_box li th {
    width: 13%;
    font-size: 13px;
  }

  #content_box1 {
    width: 88% !important;
  }

  #writeform li {
    margin-right: 0px;
    width: 95%;
  }

  #td1 {
    width: 25%;
  }
}
