<html>
  <head>
    <title>DeepFake 판별 시스템</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/upload.css" />
    <link rel="stylesheet" href="../static/css/result.css" />
    <link rel="stylesheet" href="../static/css/mypage.css" />
    <link rel="stylesheet" href="../static/css/board_write.css" />
    <link rel="stylesheet" href="../static/css/board.css" />
    <link rel="stylesheet" href="../static/css/board_detail.css" />
  </head>

  <body class="no-sidebar is-preload">
    <div id="page-wrapper">
      <!-- Header -->
      <div id="header-wrapper">
        <div id="header" class="container">
          <!-- Logo -->
          <h1 id="logo"><a href="/">HOME</a></h1>

          <!-- Nav -->
          <nav id="nav"></nav>
        </div>
      </div>
      <!-- Main -->
      <div class="wrapper" style="padding-bottom: 10px;">
        <!-- Content -->
        <article id="content">
          <header>
            <h2>게시판</h2>
          </header>
        </article>

        <div class="boxGroup" style="height: auto !important;">
          <div class="write_box">
            <form id="writeform" name="writeform" method="POST" action="">
              <li>
                <label>제목</label>
                {% for i in detail %}
                <label id="title_box">{{i[1]}}</label>
              </li>
              <li>
                <table>
                  <tr>
                    <th>글쓴이</td>
                    <td id="td1"><label>{{i[2]}}</label></td>
                    <th>작성일</td>
                    <td><label>{{i[4]}}</label></td>
                  </tr>
                </table>
              </li>
              <li>
                <label>내용</label>
                <label id="content_box1">{{i[3]}}</label>
                {% endfor %}
              </li>
              <div class="submit">
                <a href="#" class="edit_btn" onclick="to_ajax()">저장</a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div id="footer-wrapper">
        <div id="copyright" class="container">
          <ul class="menu">
            <li>&copy; COPYRIGHT 2020 가짜를 찾아조. All RIGHT RESERVED.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.dropotron.min.js"></script>
    <script src="../static/js/browser.min.js"></script>
    <script src="../static/js/breakpoints.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#nav").load("/nav");
      });
    </script>
  </body>
</html>
