<html>
  <head>
    <title>DeepFake 판별 시스템</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/upload.css" />
    <link rel="stylesheet" href="../static/css/result.css" />
    <link rel="stylesheet" href="../static/css/mypage.css" />
    <link rel="stylesheet" href="../static/css/board_write.css" />
    <link rel="stylesheet" href="../static/css/board.css" />
  </head>

  <body class="no-sidebar is-preload">
    <div id="page-wrapper">
      <!-- Header -->
      <div id="header-wrapper">
        <div id="header" class="container">
          <!-- Logo -->
          <h1 id="logo"><a href="/">HOME</a></h1>

          <!-- Nav -->
          <nav id="nav"></nav>
        </div>
      </div>
      <!-- Main -->
      <div class="wrapper" style="padding-bottom: 10px;height: 77%;">
        <!-- Content -->
        <article id="content">
          <header>
            <h2>게시판</h2>
          </header>
        </article>

        <div class="boxGroup" style="height: auto !important;">
          <div class="container">
            <div id="board_list" style="height: auto !important;">
              <table>
                <thead id="table_head">
                  <tr>
                    <th id="th1">번호</th>
                    <th id="th2">제목</th>
                    <th id="th3">작성자</th>
                    <th id="th4">작성일</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in list: %}
                  <tr id="list_tr">
                    <td>{{i[0]}}</td>
                    <td><a href="/board_detail?num={{i[0]}}">{{i[1]}}</a></td>
                    <td>{{i[2]}}</td>
                    <td>{{i[4]}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div id="board_page">
              {% for j in range(page) %}
              <a href="/list?page={{ j+1 }}">{{j+1}}</a>
              {% endfor %}
              <a href="/write" id="write_btn">글쓰기</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div id="footer-wrapper">
        <div id="copyright" class="container">
          <ul class="menu">
            <li>&copy; COPYRIGHT 2020 가짜를 찾아조. All RIGHT RESERVED.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.dropotron.min.js"></script>
    <script src="../static/js/browser.min.js"></script>
    <script src="../static/js/breakpoints.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#nav").load("/nav");
      });
    </script>
  </body>
</html>
